jinja2
mkdocs
mkdocs-video
mkdocs-material
mkdocs-redirects
mkdocs-nav-weight
mkdocs-minify-plugin
mkdocs-include-dir-to-nav
mkdocs-git-authors-plugin
mkdocs-awesome-pages-plugin
mkdocs-git-committers-plugin
mkdocs-git-revision-date-localized-plugin
markdown
pygments
pymdown-extensions
markdown-meta-extension
babel
colorama
paginate
regex
python-dateutil
Pygments