jinja2
markdown
mkdocs
mkdocs-material
pygments
pymdown-extensions
markdown-meta-extension
mkdocs-video
babel
colorama
paginate
regex
mkdocs-git-authors-plugin
mkdocs-git-revision-date-localized-plugin
mkdocs-minify-plugin
mkdocs-git-committers-plugin-2
mkdocs-include-dir-to-nav
mkdocs-redirects
mkdocs-awesome-pages-plugin
mkdocs-nav-weight